/*地址页面开始*/
.address-container{width:100%;}
.address-detail{box-sizing: content-box;width: 90%;height:500px;padding: 14px 18px;margin: 26px auto 20px;
box-shadow: 1px 3px 46px #000;position: relative;}
.address-detail .dropdown-menu{min-width: 66px;cursor: pointer;}
.address-detail .tr-drop{margin-top: 6px;box-shadow:0 0 10px #000;width: 46px;height: 52px;padding: 2px;background-color: #292a2e;text-align: center;}
.address-detail .tr-drop li{padding-top: 4px;}
.address-list{margin-top: 40px;}
/*.address-list{margin-top: 40px;max-height: 400px;overflow-y: scroll;}*/
.address-list tr td{text-align: center;}
.table>tbody>tr>td{color:#b6b6b6;border-top:none;border-bottom:1px solid #656668;}
#my-address .my-address tr td:nth-child(1) {text-align: left;padding-left: 20px;}
#address-modal .table>tbody>tr>td{color:#b6b6b6;border-top:none;border-bottom:none;}
/*模态弹框复制样式*/
.tx-search{width: 68%;height: 28px;border-radius: 24px;background-color: #fff;
position: relative;margin: 26px auto;}
.tx-search input{width: 96%;height: 26px;line-height:26px;border-radius: 24px;
background-color: #fff;border:none;padding: 0 16px 0 32px;}
.tx-search svg{position: absolute;left: 4px;top: 1px;font-size: 26px;}
#address-modal .modal-footer{text-align: center;padding-bottom: 20px;}
.address-nav-r .nav-tabs{border-bottom: none;}
.address-nav-r .nav>li>a{padding: 3px 12px;}
.address-nav-r .nav>li>a.address-b{position:absolute;top: 0px;right: 78px;padding: 3px 20px;z-index: 100;}
.address-nav-r .nav>li>a.address-my{width: 94px;color: #b6b6b6;cursor: pointer;background-color: #292a2e;
border: 1px solid #b6b6b6;border-top-right-radius: 15px;border-bottom-right-radius: 15px;height: 25px;
position:absolute;top: 0px;right: 0px;padding-left: 26px;
}
.address-nav-r .nav-tabs>li>a{width: 78px;color: #b6b6b6;cursor: default;background-color: #292a2e;color: #b6b6b6;
border: 1px solid #b6b6b6;border-top-left-radius: 15px;border-bottom-left-radius: 15px;height: 25px;cursor: pointer;}
.address-nav-r .nav-tabs>li.active>a,.address-nav-r .nav-tabs>li.active>a:focus,
.address-nav-r .nav-tabs>li.active>a:hover{color: #b6b6b6;cursor: default;background-color: #b6b6b6;color: #333;
border: 1px solid #b6b6b6;border-top-left-radius: 15px;border-bottom-left-radius: 15px;height: 25px;cursor: pointer;}
#address-modal input,#friend-modal input{width: 442px;height: 28px;border-radius: 15px;border: none;outline: none;padding-left: 20px;font-size: 14px;}
#friend-modal .table>tbody>tr>td{border: 1px solid transparent;}

.table-column{max-height: 400px;overflow-y: scroll;}    
.font-column{position: absolute;bottom: 16px;left: 20px;}  
.address-content{position:relative;}  
.address-content .warning-add{position:absolute;top: 117px;left: 118px;}  
/*地址页面结束*/