/*资产页面开始*/
#all-user{display: none;}	
.assets-money{margin-top: 20px; display: flex; justify-content:center;}
.assets-money .assets-m-style{height: 106px;
color: #b6b6b6;padding-top:24px;box-shadow: 1px 3px 16px #000;width: 45%;}
.assets-m-style:nth-child(1){margin-right: 18px;}
.assets-m-style:nth-child(2){margin-left: 18px;}
.assets-m-style p{padding-top: 6px;font-size: 14px;}
.assets-m-style .remaining-l,.assets-m-style .usable-l{padding:0 40px;}
.line{padding-top:4px;display:inline-block;height:62px;border-left:1px solid #b6b6b6;margin-right:15px;}
.assets-m-style img{width: 46px;height: 46px;}
.assets-m-style .remaining-r,.assets-m-style .usable-r{text-align: center;line-height: 56px;}
#assets .assets-account{box-sizing:content-box;width:90%;padding:14px 18px;margin: 26px auto 20px;box-shadow: 1px 3px 46px #000;}
.account-info .remaining-l img{width: 86px;height: 62px; margin-bottom: 6px;} 
.assets-c-style .remaining-l{padding: 24px 40px;cursor: pointer;}
.assets-c-style .remaining-l:hover .account-txt{font-weight: 600;color: #dcc59c;}
.assets-c-style .line{display: inline-block;height: 112px;border-left: 1px solid #656668;margin-right: 15px;margin-top: 10px;}
.assets-c-style .remaining-r>img{width: 30px;height: 30px;border: 1px solid #b6b6b6;border-radius: 50%;padding: 6px;margin-left: 16px;}
.remaining-r .assets-search{position:relative;display: inline-block; width: 550px; height: 28px;background-color: #fff;
border-radius: 15px;}
.remaining-r .assets-search input{margin: 1px 8px;width:480px;height: 25px;border: none;outline: none;padding-left: 8px;}
.remaining-r .assets-search .QRcode-small{position: absolute;width: 16px;height: 16px;top: 6px;right: 12px;}
.remaining-r .assets-search .QRcode-big{position: absolute;width: 68px;height: 68px;top: 30px;right: -28px;background-color: #fff; border: 1px solid #b6b6b6;}
.assets-account .remaining-r{margin: 48px 60px;cursor: pointer;}
.headerEditShow{position: absolute;text-align: center;line-height: 40px;border: 1px solid #E4E4E4;background-color: #fff;
top: 28px;left: 478px;border-radius: 4px;z-index: 9;}
.triangle-outer{margin: 4px 0 0 -7px;border-left: 7px solid transparent;border-right: 7px solid transparent;
	border-bottom: 8px solid #b6b6b6;position: absolute;left: 50%;top: -12px;width: 0;height: 0;}
.triangle-inner{margin: 5px 0 0 -6px;border-left: 6px solid transparent;border-right: 6px solid transparent;
	border-bottom: 8px solid #fff;position: absolute;left: 50%;top: -11px;width: 0;height: 0;}
.QRcode{display: none;}
.picture:hover .QRcode{display: block;}
.assets-detail{margin: 30px 40px;}
.assets-detail .assets-nav-l{margin-bottom: 8px;}
.assets-detail table>tbody>tr>td{padding: 8px;line-height: 1.42857143;vertical-align: top;border-bottom: 1px solid #656668;border-top: none;}
.sidebar ul>li.active{border: 3px solid #dcc59c;}
.assert-style{width: 90%;height: 100px;box-shadow: 0 0 10px #000;margin-left: 5%;margin-bottom: 10px;}
.assert-style .remaining-l,.assert-style .usable-l{padding: 21px;}
.assert-style img{width: 42px;height: 42px;}
.assert-style p{padding-top: 6px;font-size: 12px;}
.assert-style .line{padding-top: 4px;display: inline-block;height: 64px;border-left: 1px solid #656668;
  margin-top: 20px;margin-right: 15px;}  
.assert-style .remaining-r,.assert-style .usable-r{line-height: 100px;text-align: center;} 
#assets-modal .assert-addr-list{padding: 8px 0 2px;}
.assert-add-table tbody{max-height: 100px;overflow-y: scroll;}
#assets-modal .tr-drop{margin-top: 6px;box-shadow: 0 0 10px #000;height: 42px;padding: 4px;background-color: #292a2e;
  text-align: center;min-width: 72px;}
.assert-table-con{width: 100%;height: 120px;overflow-y: scroll;}
.all-user{position: absolute;padding: 10px;bottom: 32px;right: 22px;box-shadow: 1px 1px 12px #000;line-height: 20px;
     background-color: #292a2e; border-radius: 2px;max-height: 192px;overflow-y: scroll;}
.all-user .user-list>span.user-cancelled{background-color: #dd6c3a;color:#fff;}
.all-user .user-list>span{color: #656363;display: inline-block;text-align: center;width: 64px;height: 18px;line-height: 18px;
   border-radius: 11px;background-color: #dcc59c;margin: 18px 6px;letter-spacing: 4px;}  
.user-list .user-info{padding: 12px;}
.all-user img{width: 32px;height: 32px;margin: 6px 16px 6px 0px;border-radius: 50%;}
.user-info .diff-user{display: inline-block;width: 140px;font-size: 15px;color: #dcc59c;}  
.assets-detail .assets-list{position: relative;}
.assets-detail .assets-list .no-data{top: 108px;}
.assets-content .addAddr{margin: 20px 0 0 10px;}   
/*资产页面结束*/

.all-user1 { 
    position: absolute;
    top: 32px;
    left: 64px;
    box-shadow: 1px 1px 12px #000;
    line-height: 20px;
    background-color: #292a2e;
    border-radius: 2px;
    z-index: 2;
    max-height: 192px;
    overflow-y: scroll;
}
.all-user1 .add-user{
    text-align: center;
}
.all-user1 .user-list img{
	width: 32px;
    height: 32px;
    margin: 6px 16px 6px 0px;
    border-radius: 50%;
    cursor: pointer;
}  
.all-user1 .user-info {
    padding: 12px;
}
.account-info .account-txt{text-align: center;padding-top: 6px;}
.account-info .account-txt:hover{font-weight: 600;}
