/*========基础覆盖样式========*/
body, div, dl, dt, dd, ul, ol, li, pre, form, fieldset, input, textarea, p, blockquote, th, td{margin:0; padding:0;outline: none;}
table{border-collapse:collapse;border-spacing:0;}
fieldset, img{border:0;}
address, caption, cite, code, dfn, em, th, var,i{font-style:normal;font-weight:normal;}
ol, ul{list-style:none;}
q:before, q:after{content:''}
abbr, acronym,button{border:0;outline: none;}
input, select, textarea{font-size: 16px;outline: none}
a,a:link,a:visited,a:hover,a:active{text-decoration:none;outline: none;}
body{font-size: 14px;color: #333;background: #f9f9f9;}
body,input,button,select{font-family: /*'PingFangSC',*/'Microsoft YaHei';}
html,body{width: 100%; height: 100%;font-family: "微软雅黑";}
img{width: 100%;outline: none;}
select{appearance:none;-moz-appearance:none;-webkit-appearance:none;}
.text-center{text-align: center;}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: none;
}
.none{display: none;}
.not-allowed{cursor: not-allowed;}
/*#ffd100 #96b97d*/
.icon {
   width: 1em; height: 1em;
   vertical-align: -0.15em;
   fill: currentColor;
   overflow: hidden;
}

/*滚动条样式*/
::-webkit-scrollbar {/*滚动条整体样式*/
        width: 10px;     /*高宽分别对应横竖滚动条的尺寸*/
        height: 1px;
    }
::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
        border-radius: 10px;
         -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
        background: #999;
    }
::-webkit-scrollbar-track {/*滚动条里面轨道*/
        -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
        border-radius: 10px;
        background: #EDEDED;
    }

/*模态框样式样式开始*/
.modal-dialog{width: 600px;margin: 60px auto;max-height: 455px;}
.modal-content{background-color: #292a2e;}
.modal-header{height: 32px;padding:0; color: #fff;padding: 2px 0 0 10px;border-bottom: none;box-shadow: 1px 2px 12px #000;;}
.g-close{color:#fff;width: 22px;height: 0px;text-align:center;line-height: 26px;transform: rotate(45deg);font-size: 32px;padding: 2px;}
.modal-header .modal-g{font-size: 20px;color: #dcc59c;margin-right: 6px;}
.modal-body{padding: 18px;}
.modal-footer{border-top:none;text-align: center;}
.text-center{text-align: center;}
.results-textf24{font-size: 24px;color: #b6b6b6;padding-top:8px;}
.results-textf22{font-size: 18px;color: #b6b6b6;padding-top: 26px;padding-bottom: 20px;}
  
.pwd-style{width: 316px; height: 30px;line-height: 32px;border-radius: 15px;border: none;outline: none;padding-left: 20px;
margin-top: 28px;}
/*.btn-footer{margin-top: 20px;}*/
.btn-footer button{margin: 2px 10px;}
.modal-footer {padding: 6px 0 18px 0;}
#tradingPwdModal .modal-footer{margin-top: 34px;}     
/*模态框样式样式结束*/



.btn-normal{width: 108px;height: 34px;background-color: #dcc59c;border-radius: 20px;color:#636161;letter-spacing: 4px;}
.btn-shut{width: 108px;height: 34px;background-color: #292a2e;border-radius: 20px;color: #b6b6b6;border: 1px solid #b6b6b6; letter-spacing: 4px;}
     
.password-warning{color:#de0000;font-size:12px;display:block;margin-top: 8px;}
/*.container{background-color: #292a2e;position:relative;border:1px solid #c3c3c3;margin: 0 auto;}*/
.cm{color:#dcc59c}
.fw600{font-weight: 600;}
.fcdc72{font-size: 72px;color:#dcc59c;}
.fcd872{font-size: 72px;color:#d8d8d8;}
.fcc820{font-size: 20px;color:#c8c8c8;}
.fcdc52{font-size: 52px;color:#dcc59c;}
.fcd852{font-size: 52px;color:#B6B6B6;}
.fcdc38{font-size: 38px;color:#dcc59c;}
.fcdc28{font-size: 28px;color:#dcc59c;}
.fcb28{font-size: 28px;color:#b6b6b6;}
.fcd838{font-size: 38px;color:#B6B6B6;}
.fcd832{font-size: 32px;color:#d8d8d8;}
.fcc816{font-size: 16px;color:#c8c8c8;}
.cp{cursor: pointer;}
.ma{margin: 0 auto;}
.f28{font-size: 28px;}
.f12{font-size: 12px;}
.f14{font-size: 14px;}
.f16{font-size: 16px;}
.f22{font-size: 22px;}
.fc12{color:#b6b6b6;font-size: 12px;}
.fc14{color:#b6b6b6;font-size: 14px;}
.fc16{color:#b6b6b6;font-size: 16px;}
.fc22{color:#b6b6b6;font-size: 22px;}
.fc26{color:#b6b6b6;font-size: 26px;}
.fc42{color:#b6b6b6;font-size: 42px;}
.fc8{color:#807f7f;}
.lh26{line-height: 26px;}
.mr20{margin-right: 20px;}
.mr10{margin-right: 10px;}
.mb10{margin-bottom: 10px;}
.p64{padding: 0 64px;}
.ptrbl{padding: 20px;}
.bt{border-bottom: 1px solid #656668;}
.pr14{padding-right: 14px;}
.mt32{margin-top: 32px;}
.mtrbl12{margin: 12px;}
.fcw18{font-size: 18px;color: #dcc59c;font-weight: 600;}
.fcw14{font-size: 14px;color: #dcc59c!important;font-weight: 600;}
.table>tbody>tr>td{color:#b6b6b6;border-top:none;border-bottom:1px solid #b6b6b6;}
/*侧边栏通用样式*/
.sidebar ul>li {text-align:center;width: 70px;height: 92px;margin: 0 0 10px 22px;text-align: center;border-radius: 8px;padding-top: 12px;cursor: pointer;}
/*.sidebar ul>li a{color: #b6b6b6;font-size: 16px;font-weight: 600;}*/
.sidebar ul>li img{width: 36px;height: 36px;margin-bottom: 6px;}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/*底部通用样式*/
.footer{position: absolute;width: 100%;height: 36px;line-height: 36px;background-color: #292a2d;bottom: 0;left: 0;padding: 0 20px;}
.footer-l img{width: 22px;height: 22px;margin-top: 4px;}
.footer-r img{width: 16px;height: 16px;}
.footer-r>div{padding-left: 16px;}
.footer-l .progress{height: 8px; width: 80px;margin: 12px 0 0 10px;}
.footer-l .progress .progress-bar{background-color: #dcc59c;height: 8px;}

.footer img{cursor: pointer;}
.user-list{cursor: pointer;}   
 option{
        color: black;
        /*background: #A6E1EC;*/
        line-height: 20px;
        border-radius: 10px;
        border: none;
        outline: none;
            }
 option:hover{
    background-color: #dcc59c;
}
.footer-r>div{margin-right: 12px;}
.network-state span{display: inline-block;border: 1px solid #b6b6b6;width: 4px;margin: 0;}
.network-state span.active{background-color: #dcc59c;}
.network-state span:nth-child(1){height: 4px;border-left:0px solid transparent;}
.network-state span:nth-child(2){height: 8px;border-left:0px solid transparent;}
.network-state span:nth-child(3){height: 12px;border-left:0px solid transparent;}
.network-state span:nth-child(4){height: 16px;}
#user-default{padding-left: 0;}
.network-state{transform: rotate(180deg);padding: 8px;margin-left: 10px;}
#all-user{display: none;}
#all-user .add-user{text-align: center;}
#all-user .add-user img{width: 24px;height: 24px;cursor: pointer;}
/*头部通用样式*/
.container1{background-color: #292a2e;position:relative;width: 100%;height: 100%;margin: 0 auto;}
.header{width:100%;height: 60px;background-color: #292a2e;font-size:34px;
color:#b6b6b6;position: relative;z-index: 100;padding: 6px 0 0 20px;}
.head-search{position: relative;display: inline-block;padding-left: 26px;}
.head-search input{width: 320px;height: 26px;line-height:26px;border-radius: 24px;
background-color: #fff;border:none;padding: 0 16px 0 32px;}
.head-search svg{position: absolute;left: 30px;top: 18px;font-size: 26px;}
.header .head-tool{display: inline-block;padding-right: 20px;} 
.header .head-tool img{width: 20px;height: 20px;margin-left: 6px;}

/*头部与测边栏开始*/
.container{position:relative;width: 100%;height:100%;padding:0;overflow: hidden;background-color: #292a2e;}
.sidebar ul>li.active{border: 3px solid #dcc59c;}
.header .head-top{width: 100%;height: 26px;line-height: 24px;background-color: #d3af26;
color:#fff;text-align: left;font-size: 16px;z-index: 10;padding-left: 60px;}
.side-bar{width:180px;height:100%;position:absolute;top:0;left:0;background-color: #e3e3e3;padding-top:54px;z-index: -1;}
.side-bar ul li{width: 100%;height:36px;line-height:38px;margin-bottom:6px;}
.side-bar .bg-colori{background-color:#d3af26;color:#fff;}
.side-bar ul a{display:inline-block;width:100%;height:38px;line-height:36px;color:#444;font-size:16px;font-weight: 600;}
.side-bar ul a span{padding-left: 12px;}
.side-bar .iconfont{font-size: 24px;color:#636363;padding-left: 8px;display: inline-block;}
.side-bar .iconfont.active{color:#fff;}
.footer-right{position:absolute;bottom:0;left:0;width:100%;height: 26px;line-height:26px;text-align:center;
background-color:#c3c3c3;color:#333;}
.footer-nav{position:absolute;bottom:0;left:0;width:100%;height: 26px;line-height:26px;background-color:#c3c3c3;}
.footer-nav ul li{float:left;padding-right: 40px;color:#333;}
.footer-nav ul li:nth-child(1){padding-left: 8px;}


/*设置页面结束*/

/*.container-right{width: 100%;padding-left: 92px;}*/

/*placehold样式*/
::-webkit-input-placeholder{font-size: 14px;}    /* 使用webkit内核的浏览器 */
:-moz-placeholder{font-size: 14px;}                  /* Firefox版本4-18 */
::-moz-placeholder{font-size: 14px;}                  /* Firefox版本19+ */
:-ms-input-placeholder{font-size: 14px;}
input{color: #312e2e;}           /* IE浏览器 */

/*整合页面*/
html{overflow: hidden;}
.container1{display: flex;background-color: #292a2e;}
.head-tool div{display: inline-block;cursor: pointer;}
.sidebar.js-nav{
			width: 100px;
			overflow-x: hidden;
			overflow-y: auto;
			visibility: hidden;
			opacity: 0;
		}
.js-nav.is-shown{
			visibility: visible;
			opacity: 1;
		}
.main-content{
			flex: 1;
			height: 100%;
			position: relative;
			left: 94px;
			padding-left: 100px;
			overflow: hidden;
			visibility: hidden;
			opacity: 0;
			background-color: #292a2e;
		}
		.main-content.is-shown{
			visibility: visible;
			opacity: 1;
		}
		.section{
			position: absolute;
			top: 0;
			bottom: 0;
			right: 100px;
			left: 0;
			overflow-x: hidden;
			overflow-y: auto;
			visibility: hidden;
			pointer-events: none;
			opacity: 0;
		}
		.section.is-shown{
			pointer-events: auto;
			visibility: visible;
			opacity: 1;
		}
		.style-sidebar li{
			color: #b6b6b6;
		    font-size: 16px;
		    font-weight: 600;
		    border: 3px solid #292a2e;
		}
		.style-sidebar li.is-selected{
			border: 3px solid #dcc59c;
		}	
		
		.lan-contain{width:90%;margin:40px auto;text-align: center;}
.lan-contain p{font-size: 24px;color:#434343;padding-bottom: 60px;}
.lan-contain>span{font-size: 14px;color:#b6b6b6;padding-right: 26px;}
.drop-lan{display:inline-block;}
.drop-lan>span{margin-right:20px;}
.drop-lan .state{width: 226px;height: 30px;line-height:30px;border: 1px solid #c3c3c3;cursor: pointer;border-radius: 15px;text-align: center;background-color:#fff;padding-left: 29px;}
.drop-lan .dropdown-menu{width: 214px;border-radius: 0 0 15px 15px;background-color: rgba(249,245,245,1);margin: -3px 0 0 6px;}
.drop-lan .dropdown-menu li{border-bottom:1px solid #d8d8d8;cursor: pointer;height: 26px;
line-height: 26px;text-align: center;font-weight: 600;}
.drop-lan .dropdown-menu li:last-child{border-bottom:none;}
.sel-language button{position:absolute;bottom: 50px;right: 50px;}	

/*set-password开始*/
/*.set-password{width:100%;height:100%;background-color: #292a2e;position:relative;}*/
/*.set-password .regist-title{padding: 50px 62px;letter-spacing:6px }*/
.logoin{width: 60%;margin: 0 auto;}
.password-level{visibility: hidden;margin-left: 36px;}
.password-level i{vertical-align:middle;display:inline-block;margin-left: 6px;width: 14px;height: 14px;border-radius: 50%;border: 1px solid #b6b6b6;}
.password-level i.active{background-color: #ec4343;}
.password-level i.active1{background-color: #098e09;}
#add-users .warning-bottom{margin-left: 94px;}
#add-users .btn-style .btn-shut{margin-right: 10px;}
.select-user img{width: 46px;height: 46px;border-radius: 50%;}
.user-img{width: 100px; height: 72px;margin-top: 22px;}
#add-users .select-user{padding-top: 8px;}
.select-user .choose-file{font-weight: 600;font-size: 14px;}
#add-users .select-btn{margin: 72px 30px;}
#add-users .sele-account{display:inline-block;width: 246px;height: 28px;padding-left: 15px;border: 1px solid #d3af26;border-radius: 15px;background: url(../img/sj-icon.png) no-repeat top 9px right 15px;background-color: #fff;cursor: pointer;color: #312e2e;font-size: 14px;background-size: 15px 9px;}
.sele-account .dropdown-self{padding: 6px 10px;margin: 0px 6px 0;color: #000;}
.sele-account .dropdown-self li{border-bottom: 1px solid #b6b6b6;}
.logoin-input input{
	display: inline-block;
    width: 246px;
    height: 28px;
    padding-left: 10px;
    border: 1px solid #d3af26;
    border-radius: 15px;
    background-color: #fff;
    cursor: pointer;
}

/*set-password结束*/
.no-data{position: absolute;top: 146px;left: 50%;transform: translateX(-50%);}
.no-data img{width: 126px;height: 96px;}
   

/*复制成功提示*/  
.reminder{width: 106px;height: 28px;position:absolute;bottom: 10px;left:50%;transform: translateX(-50%);
	background-color: #dcc59c;line-height: 28px;text-align: left;border-radius: 5px;color:#fff;
	opacity: 0.5;}
.reminder.assert-copy{text-align: center;top: 254px;}
.reminder.table-copy{text-align: center;bottom: 26px;}
.table .copy{color: #dcc59c;font-weight: 600;cursor: pointer;}

.occupied{display: inline-block;width: 112px;}
.ori-pwd>span,.new-pwd>span{display: inline-block;width: 71px;}
   
.ori-pwd,.new-pwd,.sur-pwd{position: relative;}   
.ori-pwd .warning-btn1,.new-pwd .warning-btn1,.sur-pwd .warning-btn1{position: absolute;top: 52px;left: 108px;}   

.mining-r {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}  
.mining-r.active{transform: rotateY(180deg);transform-origin:27px 27px;}

.user-list.active{background: url('../img/right1.png') no-repeat;background-size: 16px;background-position: 187px 26px;}
    
.rescan-info{text-align: center;}
.rescan-info input{border: none;outline: none;width: 340px;height: 28px;border-radius: 15px;padding-left: 20px;}
.rescan-info .rescan-fr{margin: 16px 0;}

.btn-shut.btn.focus, .btn-shut.btn:focus, .btn-shut.btn:hover {
     color: #b6b6b6; 
     text-decoration: none; 
   }

.btn-normal.btn.focus, .btn-normal.btn:focus, .btn-normal.btn:hover {
     color: #636161; 
     text-decoration: none; 
   }
   
.ipt-btn .ipt-wrong{float: left;padding-left: 74px;}
  
