/*设置页面开始*/
.setting-container{width:100%;}
.contract-con{padding: 20px 42px;display: flex; justify-content:center;flex-wrap: wrap;max-height: 482px;}
.setting-column{display: flex;width: 100%;justify-content: space-around;margin-bottom: 40px;}
.setting-m-style{height: 114px;color: #b6b6b6;padding-top: 24px;box-shadow: 1px 3px 16px #000;width: 39%;cursor: pointer;}   
.setting-m-style:nth-child(2){margin-left: 18px;}
.setting-m-style p{padding-top: 6px;font-size: 12px;}
.setting-m-style .remaining-l,.setting-m-style .usable-l{padding:0 40px;}
.setting-m-style .line{padding-top:4px;display:inline-block;height:62px;border-left:2px solid #b6b6b6;margin-right: 0;}
.setting-m-style img{width: 62px;height: 62px;}
.setting-m-style .remaining-r,.setting-m-style .usable-r{text-align: center;line-height: 56px;}
.setting-account{box-sizing:content-box;width:90%;padding:14px 18px;margin: 26px auto 20px;box-shadow: 1px 3px 46px #000;}
.setting-p{padding: 20px 0px 6px 60px;letter-spacing: 4px;}
.setting-s{display: inline-block;padding: 20px 0px 6px 60px;letter-spacing: 4px;}
/*设置页面结束*/