input[type='checkbox']{
			    width: 10px;
			    height: 10px;
			    border-radius: 50%;
			    -webkit-appearance:none;
			    border: 1px solid #fff;
			    outline: none;
			}
			.assets-allocation{
				box-sizing: border-box;
			    width: 100%;
			    height: 164px;
			    padding: 18px;
			    margin: 14px auto 20px;
			    box-shadow: 1px 3px 46px #000;
			    overflow-y: scroll;
			}
.issue-cont .transfer-list{display: flex;}
.issue-cont .transfer-list .txhash{position:relative;width: 48%;height: 28px;line-height:28px;border-radius: 16px;
border: 1px solid #fff;background-color: #fff;padding-left: 20px;margin-right: 26px;margin-bottom:20px;}
.issue-cont .transfer-list .txhash input{width: 90%;height: 24px;line-height:24px;border:none;color: #6c6868;}
.issue-cont .transfer-list .tx-num{width: 20%;height: 28px;line-height:28px;border-radius: 16px;background-color: #fff;
text-align: center;margin: 0 16px;border:none;color: #6c6868;}
.issue-cont .transfer-list .tx-delete{    
    margin-left: 40px;
    width: 26px;
    height: 26px;
    line-height: 18px;
    cursor: pointer;
    font-size: 28px;
    transform: rotate(0);
    border: none;
}
.issue-cont .transfer-to{display: inline-block;width:64px;height: 48px; }
.issue-cont .add-ress {
    display: inline-block;
    color: #dcc59c;
    font-weight: 600;
    padding-left: 10px;
}
.issue-cont .cont-operate{font-size: 14px;padding: 10px;}
.cont-operate th{border-bottom: 1px solid #b6b6b6;}
.deploy-add{font-size: 14px;color: #dcc59c;font-weight: 600;padding-top: 10px;cursor: pointer;}
.cont-text textarea {
	display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    border: none;
    resize: none;
    background-color: #fff;
    color: #6c6868;
    word-wrap: break-word;
    word-break: break-all;
    text-indent: 2em;
}
.cont-input{display: flex;}
.cont-font{width: 84px;}
.cont-text{width: 100%;height: 132px;}
.cont-column {margin-bottom: 20px;}
.cont-column .sty-length{display: inline-block;width: 150px;height: 26px;line-height: 26px;border-radius: 15px;
padding-left: 20px;background-color: #fff;color:#6c6868; margin-left: 12px;border: none;outline: none;}
