#mining-setting .mining-setting{height: 120px;}
.setting-p{display: inline-block;padding: 20px 0px 6px 60px;letter-spacing: 4px;font-size: 18px;color: #b6b6b6;}
.setting-container{width:100%;}
.setting-money{padding-top: 20px; display: flex; justify-content:center;flex-wrap: wrap;max-height: 482px;overflow-y: scroll;}
.setting-column{display: flex;width: 100%;justify-content: space-around;margin-bottom: 40px;}
.setting-m-style{height: 120px;color: #b6b6b6;padding-top: 24px;box-shadow: 1px 3px 16px #000;width: 38%;}   
.setting-m-style:nth-child(2){margin-left: 18px;}
.setting-m-style p{padding-top: 6px;font-size: 12px;}
.setting-m-style .remaining-l,.setting-m-style .usable-l{padding:0 40px;}
.setting-m-style .line{padding-top:4px;display:inline-block;height:62px;border-left:1px solid #656668;margin-right: 0;}
.setting-m-style img{width: 62px;height: 62px;}
.setting-m-style .remaining-r,.setting-m-style .usable-r{text-align: center;line-height: 56px;}
.setting-account{box-sizing:content-box;width:90%;padding:14px 18px;margin: 26px auto 20px;box-shadow: 1px 3px 46px #000;}
.setting-p{padding: 20px 0px 6px 60px;letter-spacing: 4px;}
.mining-con .mining-l{width: 50%;}
.mining-con .mining-r{width: 50%;}
/*去除滑动条默认样式*/
input[type=range] {
    -webkit-appearance: none;
    width: 260px;
    height: 4px;
    background-color: #b6b6b6;
    border-radius: 10px; /*这个属性设置使填充进度条时的图形为圆角*/
	margin-top: 8px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
} 
input[type=range]::-webkit-slider-runnable-track {
    height: 4px;
    border-radius: 10px; /*将轨道设为圆角的*/
    box-shadow: 0 1px 1px #dcc59c, inset 0 .125em .125em #b6b6b6; /*轨道内置阴影效果*/
}
input[type=range]:focus {
	outline: none;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 12px;
    width: 12px;
    margin-top: -5px; /*使滑块超出轨道部分的偏移量相等*/
    background: #dcc59c; 
    border-radius: 50%; /*外观设置为圆形*/
    border: solid 0.125em #dcc59c;/*设置边框*/
    box-shadow: 0 .125em .125em #dcc59c; /*添加底部阴影*/
}
.mining-setting,.mining-rate,.mining-earnings{padding: 10px 30px;}
.mining-rate .mining-chart{width: 100%;height: 200px;border: 1px solid #b6b6b6;border-radius: 6px;}
.mining-box  input[type=text]{
	outline: none;
	border: none;
	width: 420px;
	height: 28px;
	border: 1px solid #b6b6b6;
	border-radius: 15px;
	padding-left: 20px;
}
.mining-con .mining-box{margin-top: 10px;}
.mining-r{position: relative;}
.mining-r span{color:#fff;border-radius: 50%;cursor: pointer;margin-top: 4px;display: inline-block;width: 54px;
height: 54px;text-align:center;line-height:54px;position: absolute;}
.mining-r .mining-end{background-color: #dd6c3a;}
.mining-r .mining-start{background-color: #388438;}
.mining-earnings .mining-table{padding-top: 10px;}