/*交易页面开始*/
.trans-container{width:100%;}
.sidebar{width: 100px;height: 100%;background-color: #292a2e;position: absolute;top:0;left:0;padding-top: 12px;}
/*.container-right{padding-left: 100px;}*/
.trans-money{margin-top: 20px; display: flex; justify-content:center;}
.trans-m-style{height: 106px;
color: #b6b6b6;padding-top:24px;box-shadow: 1px 3px 16px #000;width: 45%;}
.trans-m-style:nth-child(1){margin-right: 18px;}
.trans-m-style:nth-child(2){margin-left: 18px;}
.trans-m-style p{padding-top: 6px;font-size: 14px;}
.trans-m-style .remaining-l,.trans-m-style .usable-l{padding:0 40px;}
.line{padding-top:4px;display:inline-block;height:62px;border-left:1px solid #656668;margin-right:15px;}
.trans-m-style img{width: 46px;height: 46px;}
.trans-m-style .remaining-r,.trans-m-style .usable-r{text-align: center;line-height: 56px;}
.trans-account{box-sizing:content-box;width:90%;padding:14px 18px;margin: 26px auto 20px;box-shadow: 1px 3px 46px #000;}
.account-box2{width:100%;margin-top: 38px;max-height: 90px;overflow-y: scroll;}
.account-box1{position: relative;}
.account-box1 img{width: 26px;height: 26px;border-radius: 50%;cursor: pointer;}
.account-box1 .btn-state{position: absolute;top: 12px;left: 102px;}
.account-box1 .btn-state img{width: 16px;height: 16px;}
.font-account{width: 82px;}
.transfer-txhash{width:91%;}
.transfer-list{display: flex;}
.transfer-list .txhash{position:relative;width: 58%;height: 28px;line-height:28px;border-radius: 16px;
border: 1px solid #fff;background-color: #fff;padding-left: 20px;margin-right: 20px;margin-bottom:20px;}
.transfer-list .txhash input{width: 93%;height: 24px;line-height:24px;border:none;font-size: 14px;}
.transfer-list .txhash img{position:absolute;right:0;width: 18px;height: 18px;margin: 4px 12px;cursor: pointer;}
.transfer-list .tx-num{width: 20%;height: 28px;line-height:28px;border-radius: 16px;background-color: #fff;
text-align: center;margin: 0 14px;border:none;}
.transfer-list .tx-delete{
	margin-left: 40px;
    width: 26px;
    height: 26px;
    line-height: 18px;
    color: #dcc59c;
    cursor: pointer;
    font-size: 28px;
    transform: rotate(0);
    border: none;
}
.add-address{box-sizing:content-box;width:90%;padding:0 18px;margin:0 auto;height: 100px;} 
.add-address .add-ress{display:inline-block;color:#dcc59c;font-weight: 600;}
.add-l{width: 66%;cursor: pointer;}
.add-address .tx-detail{width: 34%;padding-top: 22px;}
.tx-detail>.row{padding: 10px;}
.tx-search{width: 68%;height: 28px;border-radius: 24px;background-color: #fff;
position: relative;margin: 26px auto;}
.tx-search input{width: 96%;height: 26px;line-height:26px;border-radius: 24px;
background-color: #fff;border:none;padding: 0 16px 0 32px;}
.tx-search svg{position: absolute;left: 4px;top: 1px;font-size: 26px;}
#add-contacts .tx-content{max-height: 240px;overflow-y: scroll;}
#add-contacts .tx-content .row{border-bottom: 1px solid #fff;padding: 6px 0;}
#add-contacts .tx-content .row:nth-last-child{border-bottom: 1px solid transparent;}
#add-contacts .tx-content .row input{margin-left: 9px;}
#add-contacts .tx-content-title{color:#dcc59c;font-weight: 600;}

.tx-detail .deal-font{display: inline-block;width: 112px;padding: 10px 0;}
.tx-detail .tx-fee{display: inline-block;width: 218px;text-align: center;word-wrap: break-word;word-break: break-all;vertical-align: text-top;}
.transaction-warning{color: #de0000;font-size: 12px;display: block;margin-top: 8px;}
   
/*交易页面结束*/