<div role="tabpanel">
    
    <div>参数(JSON)
            <textarea class="default-params-json" placeholder="key:value" rows="5"></textarea>
    </div>
</div>
<script>
    
    function getParamsJSON(data) {
        data.params = $(".default-params-json").html();
        return data;
    }

    function onParamsChange(callback) {
        $('.default-params-json').on("change", ()=>{
            callback();
        })
    }

    function checkContractParams(){
        return null;
    }
    function clearContractParams(){
        $(".default-params-json").html("")
    }
</script>