<div role="tabpanel" >
    <div><span>转账金额：</span><input type="text" class="transfer-sum normaltransaction-transfer-sum"/><span>N</span></div>
    <div>转账地址：
        <div class="txhash">
            <input type="text" class="invoke-normal-tx-receiver normaltransaction-transfer-address" placeholder=""/>
            <img src="../img/id.png" title="选择账户" class="normal-transaction-addressbook">
        </div>
    </div>
</div>
<script>
    function getParamsJSON(data){
        let amount = $(".normaltransaction-transfer-sum").val();
        addr = $(".normaltransaction-transfer-address").val();
        addr = addr.trim()
        
        data.globalParamsKey = [];
        data.globalParamsValue = [];
        
        data.inputsInfo = {
            "amount": Number(amount)
        };

        data.outputs = [];
        data.outputs.push(
            {
                "Amount": Number(amount),
                "Extends": "",
                "OutputParamsKey": [
                    "addr"
                ],
                "OutputParamsValue": [
                    addr
                ],
                "Restricts": []
            }
        );
        return data;
    }
    
    function onParamsChange(callback){
        $('.normaltransaction-transfer-address').on("change", ()=>{
            callback();
        })
        $('.normaltransaction-transfer-sum').on("change", ()=>{
            callback();
        })
    }
    function checkContractParams(){
        let amount = $(".normaltransaction-transfer-sum").val();
        let addr = $(".normaltransaction-transfer-address").val();
        
        if(amount == null || amount == "" || !Number.isInteger(Number(amount))){
            return "转账金额必须是整数";
        }
        if(addr == null || addr == ""){
            return "转账地址不能为空";
        }

        return null;
    }
    function clearContractParams(){
        $(".normaltransaction-transfer-sum").val("");
        $(".normaltransaction-transfer-address").val("");
    }

    $('.normal-transaction-addressbook').off().on('click', ()=>{
        let index = $(event.target).attr("index")
        $("#add-contacts input[type='hidden']").val(".normaltransaction-transfer-address")
		$("#add-contacts").modal("toggle")
    });
 
</script>