<div class="config-content fc16">
    <p class="modal-title fcw18 mb10">Normal Transaction</p>
    <table class="table">
        <tbody class="f14">
            智能合约无参数配置
        </tbody>
    </table>
    <div class="warning-add">
        <span class="password-warning" id="fixpwd-wrong">&nbsp;</span>
    </div>
</div>

<script>
    function generateJSON(address){
        data = {
            "Address":address,
            "ParamsKey":[],
            "ParamsValue":[]
        }
        return data;
    }
    function onContractConfigConfirm(){
        return true
    }
    function loadJSON(data){}
    function hasConfig(){
        return false;
    }
</script>