<template class="task-template">
	<section id="address-section" class="section js-section u-category-windows">
		<div class="container-right">
			<div class="address-detail clearfix">
				<div class="address-nav-l pull-left">
					<span class="fcw18" class="addr-rely">通讯录</span>
				</div>
				<div class="address-nav-r pull-right clearfix fc12">
					<!-- Nav tabs -->
					<ul class="nav nav-tabs" role="tablist">
						<li role="presentation" class="active">
							<a class="address-b" href="#address-book" aria-controls="home" role="tab" data-toggle="tab">通讯录</a>
						</li>
						<li role="presentation">
							<a class="address-my" href="#my-address" aria-controls="profile" role="tab" data-toggle="tab">我的地址</a>
						</li>
					</ul>
				</div>
				<div class="address-list">
					<div class="tab-content">
						<div role="tabpanel" class="tab-pane active" id="address-book">
							<div class="table-column">
								<table class="table">
									<tbody>
										<!--<tr class="row">
											<td class="col-md-2">张三</td>
											<td class="col-md-8">jmqiPvzkNYz2Q1VQPTUI06H7sT/gyktR/kCN4wt38=</td>
											<td class="col-md-2 fcw14 cp"><span class="addr-updata" data-toggle="modal" data-target="#address-modal" data-show="true" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">修改</span>
												<span>/</span><span class="addr-delete" style="padding-left: 4px;">删除</span>
											</td>
                                        </tr>-->
									</tbody>
								</table>
							</div>
							<div class="font-column">
								<p class="fcw14 cp friend-add">+通讯录</p>
							</div>
							<div class="no-data none" id="noContract">
								<img src="../img/no-data.png" />
							</div>
						</div>
						<div role="tabpanel" class="tab-pane" id="my-address">
							<div class="table-column my-address">
								<table class="table">
									<tbody>
										<!--<tr class="row">
											<td class="col-md-6">jmqiPvzkNYz2Q1VQPTUI06H7sT/gyktR/kCN4wt38=</td>
											<td class="col-md-4">默认地址</td>
											<td class="col-md-2 fcw14 cp"><span class="addr-updata">修改</span>
												<span>/</span><span class="addr-delete" style="padding-left: 4px;">删除</span>
											</td>
										</tr>-->
									</tbody>
								</table>
							</div>
							<div class="font-column">
								<p class="fcw14 cp addr-add">+新建地址</p>
							</div>
							<div class="no-data none" id="noAddress">
								<img src="../img/no-data.png" />
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
		<!--地址模态弹框-->
		<div class="modal fade" id="address-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header clearfix">
						<span type="button" class="g-close pull-right cp address-address-modal-close" data-dismiss="modal">+</span>
						<div class="tx-title" id="myModalLabel"><span class="modal-g">G</span>Gravity钱包</div>
					</div>
					<div class="modal-body">
						<div class="address-content fc16">
							<p class="address-title fcw18 mb10">修改</p>
							<table class="table">
								<tbody class="f14">
									<tr>
										<td class="col-md-2">地址：</td>
										<td class="col-md-10"><input type="text" id="addr-input" readonly="readonly" /></td>
									</tr>
									<tr>
										<td class="col-md-2">备注：</td>
										<td class="col-md-10"><input type="text" id="msg-input" maxlength="30" placeholder="请输入30字以内的备注信息" /></td>
									</tr>

								</tbody>
							</table>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-normal" id="btn-succ">确定</button>
					</div>
				</div>
			</div>
		</div>
		<!--通讯录模态弹框-->
		<div class="modal fade" id="friend-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header clearfix">	
						<span type="button" class="g-close pull-right cp address-friend-modal-close" data-dismiss="modal" aria-hidden="true">+</span>
						<div class="tx-title" id="myModalLabel"><span class="modal-g">G</span>Gravity钱包</div>
					</div>
					<div class="modal-body">
						<div class="address-content fc16">
							<p class="friend-title fcw18 mb10">添加联系人</p>
							<table class="table">
								<tbody class="f14">
									<tr>
										<td class="col-md-2">地址：</td>
										<td class="col-md-10"><input type="text" id="friend-input" placeholder="请输入联系人的钱包地址" /></td>
									</tr>
									<tr>
										<td class="col-md-2">备注：</td>
										<td class="col-md-10"><input type="text" id="friend-msg-input" maxlength="30" placeholder="请输入30字以内的备注信息" /></td>
									</tr>
								</tbody>
							</table>
							<div class="warning-add">
								<span class="password-warning" id="fixpwd-wrong">&nbsp;</span>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-normal" id="btn-succ">确定</button>
					</div>
				</div>
			</div>
		</div>
		<!--我的地址列表-->
		<script type="text/template" id="addr_lists_template">
			<% myAddrList.forEach(addr => { %>
			<tr class="row">
				<td class="col-md-6">
					<%= addr.address %>
				</td>
				<td class="col-md-4">
					<%= addr.description %>
				</td>
				<td class="col-md-2 fcw14 cp">
					<span class="addr-updata" data-addr="<%= addr.address %>" data-des="<%= addr.description %>" data-id="<%= addr.id %>">修改</span>
					<span>/</span>
					<span class="addr-delete" data-addr="<%= addr.address %>" data-id="<%= addr.id %>" style="padding-left: 4px;">删除</span>
				</td>
			</tr>
			<% }) %>
		</script>

		<!--我的好友列表-->
		<script type="text/template" id="friend_lists_template">
			<% myFriendList.forEach(friend => { %>
			<tr class="row">
				<td class="col-md-6">
					<%= friend.address %>
				</td>
				<td class="col-md-4">
					<%= friend.name %>
				</td>
				<td class="col-md-2 fcw14 cp">
					<span class="friend-updata" data-addr="<%= friend.address %>" data-name = "<%= friend.name %>" data-id="<%= friend.id %>">修改</span>
					<span>/</span>
					<span class="friend-delete" data-addr="<%= friend.address %>" data-id="<%= friend.id %>" style="padding-left: 4px;">删除</span>
				</td>
			</tr>
			<% }) %>
		</script>

		<script src="../js/address.js"></script>
	</section>
</template>