<template class="task-template">
	<section id="contract-section" class="section js-section u-category-windows">
		<div class="container-right">
			<p class="fc26 setting-s">智能合约</p>
			<div class="contract-con js-nav">
				<div class="setting-column">
					<div class="setting-m-style nav-button contract-run-contract-button" data-section="run-contract">
						<div class="usable-l pull-left">
							<img src="../img/Movie.png" alt="" />
						</div>
						<span class="line pull-left"></span>
						<div class="usable-r">
							<span class="f22">运行合约</span>
						</div>
					</div>
					<div class="setting-m-style nav-button contract-issue-asset-button" data-section="issue-contract">
						<div class="usable-l pull-left">
							<img src="../img/assets.png" alt="" />
						</div>
						<span class="line pull-left"></span>
						<div class="usable-r">
							<span class="f22">发行资产</span>
						</div>
					</div>
				</div>
				<div class="setting-column">
					<div class="setting-m-style nav-button" data-section="deploy-contract">
						<div class="remaining-l pull-left">
							<img src="../img/deploy.png" alt="" />
						</div>
						<span class="line pull-left"></span>
						<div class="remaining-r">
							<span class="f22">部署合约</span>
						</div>
					</div>
					<div class="setting-m-style nav-button" data-section="coin-contract">
						<div class="usable-l pull-left">
							<img src="../img/shopping-car2.png" alt="" />
						</div>
						<span class="line pull-left"></span>
						<div class="usable-r">
							<span class="f22">代币市场</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	
	<script src="../js/contract.js"></script>
	</section>
</template>