<template class="task-template">
	<section id="deploy-contract-section" class="section js-section u-category-windows">
		<div class="container-right">
			<div class="contract-type">
				<p class="contract-title">智能合约&nbsp;<span class="cm">/&nbsp;部署合约</span></p>
				<div class="contract-details">
					<div class="cont-details1 deploy-cont" style="height: 282px;">
						<!-- Nav tabs -->
						<ul class="nav nav-tabs newcont-title" role="tablist">
							<li role="presentation" class="active">
								<a href="#cont-new1" aria-controls="home" role="tab" data-toggle="tab">新合约</a>
							</li>
							<li role="presentation">
								<a href="#cont-new2" aria-controls="profile" role="tab" data-toggle="tab">新合约2</a>
							</li>
							<li class="add-part">+</li>
						</ul>
						<!-- Tab panes -->
						<div class="tab-content newcont-con">
							<div role="tabpanel" class="tab-pane active" id="cont-new1">
								<textarea name="" rows="" cols="">合约内容1</textarea>
							</div>
							<div role="tabpanel" class="tab-pane" id="cont-new2">
								<textarea name="" rows="" cols="">合约内容2</textarea>
							</div>
						</div>
					</div>
					<div>
						<span>选择资产：</span>
						<div class="select-cont">
							<div class="select-column">
								<span>参数名：</span>
								<input type="text" class="parameter" />
								<span>说明:</span>
								<input type="text" class="state" />
								<img class="tx-delete" src="../img/error1.png">
							</div>
							<div class="select-column">
								<span>参数名：</span>
								<input type="text" class="parameter" />
								<span>说明:</span>
								<input type="text" class="state" />
								<img class="tx-delete" src="../img/error1.png">
							</div>
							<div class="select-column">
								<span>参数名：</span>
								<input type="text" class="parameter" />
								<span>说明:</span>
								<input type="text" class="state" />
								<img class="tx-delete" src="../img/error1.png">
							</div>
						</div>
					</div>
					<div class="add-l">
						<span class="add-ress">+分配地址</span>
					</div>
					<div class="add-address fc16 clearfix">
						<div class="tx-detail pull-right clearfix">
							<div class="row ">
								<div class="col-md-6">预计交易大小：</div>
								<div class="col-md-6">258 &nbsp;B</div>
							</div>
							<div class="row">
								<div class="col-md-6">交易费：</div>
								<div class="col-md-6">466 &nbsp;N</div>
							</div>
							<button class="btn-normal pull-right mt32" id="payAssets">执&nbsp;&nbsp;行</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</template>