<template class="task-template">
	<section id="history-section" class="section js-section u-category-windows">
		<div class="container-right">
			<div class="trading-detail clearfix">
				<div class="trading-nav-l pull-left">
					<span class="fcw18">交易记录</span>
				</div>
				<div class="trading-nav-r pull-right clearfix fc12">
					<!-- <div class="dropdown pull-left mr20 bt">
						<div class="cp" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							所有交易
							<span class="caret"></span>
						</div>
						<div class="dropdown-menu tr-drop" aria-labelledby="dLabel">
							<ul class="fc12">
								<li>普通交易</li>
								<li>文本交易</li>
							</ul>
						</div>
					</div> -->
					<!-- <div class="dropdown pull-right bt">
						<div class="cp" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							最近一月
							<span class="caret"></span>
						</div>
						<div class="dropdown-menu tr-drop" aria-labelledby="dLabel">
							<ul class="fc12">
								<li>近一周</li>
								<li>近一年</li>
							</ul>
						</div>
					</div> -->
				</div>
				<div class="trading-list">
					<table class="table tx-history-table">
						<tbody>
							<!--<tr class="row">
										<td class="col-md-2">2018/8/3 20:20:23</td>
										<td class="col-md-5">jmqiPvzkNYz2Q1VQPTUI06H7sT/gyktR/kCN4wt38=</td>
										<td class="col-md-2">+0.28</td>
										<td class="col-md-2">√</td>
										<td class="col-md-1 fcw14 cp" data-toggle="modal" data-target="#trading-modal" data-show="true" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">详情</td>
									</tr>-->
						</tbody>
					</table>
					<div class="no-data none" id="unreadNoData">
						<img src="../img/no-data.png"/>
					</div>					
				</div>
			</div>
		</div>
		<script type="text/template" id="tx_history_template">
			<% details.forEach(tx => { %>
			<tr class="row">
				<td class="col-md-2">
					<%= tx.TimeStamp %>
				</td>
				<td class="col-md-5">
					<%= tx.MessageKey %>
				</td>
				<td class="col-md-2">+0.28</td>
				<td class="col-md-2">√</td>
				<td class="col-md-1 fcw14 cp tx-details" data-id="<%= tx.MessageKey %>">详情</td>

			</tr>
			<% }) %>
		</script>
		<script src="../js/history.js"></script>
	</section>
</template>