<template class="task-template">
	<section id="run-contract-section" class="section js-section u-category-windows">
		<div class="container-right">
			<div class="contract-type">
				<p class="contract-title">智能合约&nbsp;<span class="cm">/&nbsp;运行合约</span></p>
				<div class="contract-details">
					<div class="cont-details1 row" style="height: 30px;">
						<div class="col-md-4">
							<span>选择资产：</span>
							<select name="" class="select-assets run-contract-select-assets"></select>
						</div>
						<div class="col-md-8 row">
							<div class="col-md-5">
								<span>可用余额：<span class="spendable-cash">0N</span></span>
							</div>
							<div class="col-md-5"><span>总余额：<span class="total-cash">0N</span></span>
							</div>
							<!-- <div class="col-md-4"></div> -->
						</div>
					</div>
					<div class="cont-details2 row" style="height: 178px;">
						<div class="col-md-4">
							<span>选择合约:</span>
							<div class="select-drop run-cont">
								<!-- Nav tabs -->
								<ul class="nav nav-tabs select-contract" role="tablist"></ul>
							</div>
						</div>
						<div class="col-md-8 cont-explain">
							<div class="fw600 explain">合约<span class="cm">说明</span></div>
							<p class="lh26 contract-info">普通转账智能合约，可以实现资产的转移，提供两种不同的合约模式，即单签名转账和多签名转账。</p>
							<div class="fw600 explain"><span class="cm">参数</span>说明</div>
							<div class="params-info">
								<p class="lh26">Output[Mode]:验证模式</p>
								<p class="lh26">Output[Addr]:转账目标地址</p>
							</div>
						</div>
					</div>
					<div class="cont-details3 row">
						<span>合约参数:</span>
						<div class="cont-parameters">
							<div class="tab-content cont-parameters-content"></div>
						</div>
					</div>
					<div class="add-address fc16 clearfix">
						<div class="tx-detail pull-right clearfix">
							<div class="row ">
								<div class="col-md-6">预计交易大小：</div>
								<div class="col-md-6"><span class="expected-transaction-size">0</span> &nbsp;B</div>
							</div>
							<div class="row">
								<div class="col-md-6">交易费：</div>
								<div class="col-md-6"><span class="expected-transaction-fee">0</span> &nbsp;N</div>
							</div>
							<div class="row">
									<div class="col-md-6 run-contract-error-info" style="margin-left:20px; color:rgb(196, 42, 42);"></div>
							</div>
							<button class="btn-normal pull-right mt32 invoke-contract" id="payAssets">执&nbsp;&nbsp;行</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script src="../js/runcontract.js"></script>
	</section>
</template>