<template class="task-template">
	<section id="settingsys-section" class="section js-section u-category-windows">
		<div class="container-right" id="system-setting">
			<p class="setting-p">设置<span class="cm">/系统设置</span></p>
			<div class="system-setting">
				<p class="fc22">语言设置</p>
				<div class="system-con">
					<div class="lan-contain">
						<span class="fc14">选择语言:</span>
						<div class="dropdown system-dropdown">
							<div class="state" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<span style="font-weight: 600;">简体中文</span>
								<span class="caret pull-right mtrbl12"></span>
							</div>
							<div class="dropdown-menu" aria-labelledby="dLabel">
								<ul>
									<li>
										<span>简体中文</span>
									</li>
									<!-- <li>
										<span>英语</span>
									</li>
									<li>
										<span>韩语</span>
									</li> -->
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--<div class="security-rate">-->
			<div class="system-version">
				<p class="fc22">系统版本</p>
				<div class="system-renew">
					<div>
						<span class="version">Gwallet版本：</span>
						<span class="version-ID">Gwallet v1.0</span>
					</div>
					<div>
						<span class="version">Gravity版本：</span>
						<span class="version-ID">Gravity v1.2</span>
					</div>
					<div>
						<span class="version">GUI版本：</span>
						<span class="version-ID">Gwallet GUI v2.2</span>
					</div>
				</div>
				<!-- <span class="update">软件更新</span> -->
			</div>
		</div>
	</section>
</template>