<template class="task-template">
	<section id="setting-section" class="section js-section u-category-windows">
		<div class="container-right">
			<!--<p class="fcdc28 setting-p">设置</p>-->
			<p class="fc26 setting-s">设置</p>
			<div class="setting-money contract-con js-nav">
				<div class="setting-column">
					<div class="setting-m-style nav-button" data-section="settingsecu">
						<div class="remaining-l pull-left">
							<img src="../img/Conference.png" />
						</div>
						<span class="line pull-left"></span>
						<div class="remaining-r">
							<span class="f22">安全设置</span>
						</div>
					</div>
					<div class="setting-m-style nav-button" data-section="settingmining">
						<div class="usable-l pull-left">
							<img src="../img/Electricity.png" alt="" />
						</div>
						<span class="line pull-left"></span>
						<div class="usable-r">
							<span class="f22">挖矿设置</span>
						</div>
					</div>
				</div>
				<div class="setting-column">
					<div class="setting-m-style nav-button" data-section="settingconsole">
						<div class="remaining-l pull-left">
							<img src="../img/coding.png" alt="" />
						</div>
						<span class="line pull-left"></span>
						<div class="remaining-r">
							<span class="f22">控制台</span>
						</div>
					</div>
					<div class="setting-m-style nav-button nav-button-network" data-section="settingnet">
						<div class="usable-l pull-left">
							<img src="../img/gravity.png" alt="" />
						</div>
						<span class="line pull-left"></span>
						<div class="usable-r">
							<span class="f22">网络信息</span>
						</div>
					</div>
				</div>
				<div class="setting-column">
					<div class="setting-m-style nav-button" data-section="settingbrowsers">
						<div class="remaining-l pull-left">
							<img src="../img/Compass.png" />
						</div>
						<span class="line pull-left"></span>
						<div class="remaining-r">
							<span class="f22">区块链浏览器</span>
						</div>
					</div>
					<div class="setting-m-style nav-button" data-section="settingsys">
						<div class="usable-l pull-left">
							<img src="../img/Monitor.png" />
						</div>
						<span class="line pull-left"></span>
						<div class="usable-r">
							<span class="f22">系统设置</span>
						</div>
					</div>
				</div>
				<div class="setting-column">
					<div class="setting-m-style nav-button" data-section="settinghelp">
						<div class="remaining-l pull-left">
							<img src="../img/Help3.png" />
						</div>
						<span class="line pull-left"></span>
						<div class="remaining-r">
							<span class="f22">帮助</span>
						</div>
					</div>
					<div class="setting-m-style" style="box-shadow: none;">
					</div>
				</div>
			</div>
		</div>
		<script src="../js/setting.js"></script>
	</section>
</template>