<template class="task-template">
	<section id="settingnet-section" class="section js-section u-category-windows">
		<div class="container-right" id="security-setting">
			<p class="setting-p">设置<span class="cm">/网络信息</span></p>
			<div class="security-setting">
				<p class="fc22">网络同伴</p>
				<table class="table">
					<tbody class="network-Peers-info">
						<tr class="row">
							<td class="col-md-8">127.0.0.1</td>
							<td class="col-md-4">:2321</td>
						</tr>
						<tbody>
				</table>
			</div>
		</div>
		<script src="../js/settingnet.js"></script>
	</section>
</template>