<template class="task-template">
	<section id="settingsecu-section" class="section js-section u-category-windows">
		<div class="container-right secusetting" id="security-setting">
			<p class="setting-p">设置<span class="cm">/安全设置</span></p>
			<div class="security-setting">
				<p class="fc22">密码设置</p>
				<div class="security-con cm" id="fix-pwd">
					修改钱包密码
				</div>
			</div>
			<div class="security-rate">
				<p class="fc22">备份/恢复</p>
				<div class="security-renew cm">
					<!-- <div>备份钱包</div> -->
					<!--<div>恢复钱包</div>-->
					<div id="rescan-renew">重新同步钱包</div>
				</div>
			</div>
		</div>
		<script src="../js/settingsecu.js"></script>
	</section>
</template>	