<template class="task-template">
	<section id="settingmining-section" class="section js-section u-category-windows">
		<div class="container-right" id="mining-setting">
			<p class="setting-p">设置<span class="cm">/挖矿设置</span></p>
			<div class="mining-setting clearfix">
				<p class="fc22">挖矿设置</p>
				<div class="mining-con clearfix">
					<div class="mining-l pull-left">
						<!-- <div class="mining-box clearfix">
							<span class="pull-left fc14">挖矿核数：</span>
							<input type="range" class="pull-left" name="points" min="1" max="10" />
							<span class="fc14" style="padding-left: 32px;">2</span>
						</div>
						<div class="mining-box clearfix">
							<span class="fc14">挖矿地址：</span>
							<input type="text" value="eAy2NRKBTrM835nDJeQLHudAKtQbExboe"/>
						</div> -->
					</div>
					<div class="mining-r pull-left">
						<div style="float:left; margin-top:14px; font-size:14px">挖矿地址：</div>
						<span class="mining-start">开始</span>
						<!--<span class="mining-end">停止</span>-->
					</div>
				</div>
			</div>
			<!-- <div class="mining-rate">
				<p class="fc22">挖矿速率</p>
				<div class="mining-chart">

				</div>
			</div>
			<div class="mining-earnings">
				<p class="fc22">挖矿收益</p>
				<div class="mining-table fc16">
					<table class="table">
						<tbody class="f14">
							<tr>
								<td class="col-md-7">jmqiPvzkNYz2Q1VQPTUI06H7sT/gyktR/kCN4wt38=</td>
								<td class="col-md-3">√</td>
							</tr>
							<tr>
								<td class="col-md-7">jmqiPvzkNYz2Q1VQPTUI06H7sT/gyktR/kCN4wt38=</td>
								<td class="col-md-3">√</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div> -->
		<script src="../js/settingmining.js"></script>
	</section>
</template>