<template class="task-template">
	<section id="settingconsole-section" class="section js-section u-category-windows">
		<div class="container-right">
			<p class="setting-p">设置<span class="cm">/控制台</span></p>
			<div class="contract-type js-nav border-console">
				<div class="bdcse-con">
					<div class="bdcse-contain">
					</div>	
				</div>
				<div class="bdcse-input">
					<input type="text" id="command" />
					<div class="bdcse-btn">发送</div>
				</div>
			</div>					
		</div>
		<script src="../js/settingconsole.js"></script>
	</section>
</template>