<template class="task-template">
	<section id="settinghelp-section" class="section js-section u-category-windows">
		<div class="container-right">
			<p class="setting-p">设置<span class="cm">/帮助</span></p>
			<div class="system-setting about-gravity">
				<p class="fc22">关于Gravity</p>
				<div class="system-con">
					<!-- <div>使用说明</div> -->
					<div style="cursor:pointer" class="settinghelp-link-officalweb">官方网站</div>
					<div style="cursor:pointer" class="settinghelp-link-sourceweb">Gravity源代码</div>
					<!-- <div>Gravity社区</div> -->
				</div>
			</div>
		</div>
		<script src="../js/settinghelp.js"></script>
	</section>
</template>