<template class="task-template">
	<section id="transaction-section" class="section js-section u-category-windows">
		<div class="container-right">
			<div class="trans-money clearfix">
				<div class="trans-m-style remaining-money pull-left">
					<div class="remaining-l pull-left">
						<img src="../img/Coins.png" alt="" />
						<p>账户余额</p>
					</div>
					<span class="line pull-left"></span>
					<div class="remaining-r asset-total">
						<span class="f28"></span>
						<span class="f12"></span>
					</div>
				</div>
				<div class="trans-m-style usable-money pull-left">
					<div class="usable-l pull-left">
						<img src="../img/Checkmark.png" alt="" />
						<p>可用余额</p>
					</div>
					<span class="line pull-left"></span>
					<div class="usable-r asset-spendable">
						<span class="f28"></span>
						<span class="f12"></span>
					</div>
				</div>
			</div>
			<div class="trans-account">
				<div class="account-box1">
					<div class="font-account fc16 pull-left">
						<span>选择账户:</span>
					</div>
					<img src="../img/user.png" class="tx-user-photo" />
					<div class="btn-state">
						<img src="../img/right1.png" />
					</div>
					<div class="all-user1 clearfix none" id="tx-alluser">
						<div class="add-box">

						</div>
						<div class="user-list clearfix active">
							<div class="user-info pull-left">
								<span class="diff-user">default</span>
							</div>
							<img src="../img/user.png" class="pull-right">
						</div>
					</div>
                    <div class="warning-btn1 ipt-btn" >
                        <span class="transaction-warning ipt-wrong" id="transaction-wrong">&nbsp;</span>
                    </div>
				</div>
				<div class="account-box2 clearfix transaction-txinfo-box">
					<div class="font-account fc16 pull-left">
						<span>转账给：</span>
					</div>
					<div class="transfer-txhash pull-left clearfix normal-transaction-transfer-txhash" id="tx_list">
						<div class="transfer-list-add">

						</div>
						<div class="transfer-list normal-transfer-list fc16">
							<div class="txhash">
								<input type="text" class="tx-receiver transaction-tx-receiver transaction-tx-receiver0" placeholder="" />
								<img src="../img/id.png" title="选择账户" class="transaction-addressbook" index="0"/>
							</div>
							<span>金额:</span>
							<input type="text" class="tx-num fc8 tx-amount transaction-tx-amount" />
							<span>N</span>
							<!--<span class="tx-delete">X</span>-->
						</div>
					</div>
				</div>

			</div>
			<div class="add-address fc16 clearfix">
				<div class="add-l pull-left">
					<span class="add-ress">+转账地址</span>
				</div>
				<div class="tx-detail pull-left clearfix">
					<div class="deal-row">
						<!--<div class="col-md-8">预计交易大小：</div>
						<div class="col-md-4 tx-fee">0 B</div>-->
						<span class="deal-font">预计交易大小：</span>
						<span class="tx-fee">0 B</span>
					</div>
					<div class="deal-row">
						<span class="deal-font">交易费：</span>
						<span class="tx-fee">0 N</span>
					</div>
					<div class="deal-row">
						<span class="deal-font">总支付:</span>
						<span class="tx-fee total-pay">0 N</span>
					</div>
					<button class="btn-normal pull-right mt32" id="payAssets">支付</button>
				</div>
			</div>
		</div>
		<script type="text/template" id="tx_addr_template">
			<div class="transfer-list fc16">
				<div class="txhash">
					<input type="text" class="tx-receiver normal-tx-receiver" placeholder="" />
					<img src="../img/id.png" title="选择账户" data-toggle="modal" 
					data-target="#add-contacts" data-show="true" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" />
				</div>
				<span>金额:</span>
				<input type="text" class="tx-num fc8 tx-amount normal-tx-amount" />
				<span>N</span>
				<img class="tx-delete" src="../img/error1.png"/>
				<!--<span class="tx-delete">+</span>-->
			</div>
		</script>
		<script type="text/template" id="tx_contact_template">
			<% contactList.forEach(contact => { %>
				<div class="row f14">
					<div class="col-md-8 p64 addressbook-data"><%= contact.name %></div>
					<div class="col-md-4">
						<input type="radio" name="addressbook" class="addressbook-radio"  data-addr="<%= contact.address %>" data-name = "<%= contact.name %>" data-id="<%= contact.id %>" />
					</div>
				</div>
			<% }) %>
		</script>
		<script src="../js/transaction.js"></script>
	</section>
</template>